<!DOCTYPE html>
<html lang="eng-us">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Log - An Online Journal</title>
    <link rel="stylesheet" type="text/css" href="learning_logs/styles.css">
    </head>
    <body>
        <h1 class="header">Learning Log</h1>
        <h4>
            <a href="{% url 'learning_logs:index' %}">Learning Log</a> - 
            <a href="{% url 'learning_logs:topics' %}">Topics</a> 
        </h4>
        
        {% block content %}{% endblock content %}
    </body>
</html>

<!-- 
https://stackoverflow.com/questions/60361617/reverse-for-new-entry-with-arguments-not-found-1-patterns-tried
-->
